@{
    ViewData["Title"] = "Privacy Policy";
}

@section AboutUsCss{
    <link href="@Url.Content("~/css/about-us.css")" rel="stylesheet" type="text/css" />
}

<section class="intro-about-us first-section">
    <h1 class="about-us-title">
        About Us
    </h1>
    <section class="wrapper">
        <div class="img-wrapper">
            <img src="~/images/index/united-business-team.jpg" alt="United Business Team" />
        </div>
        <article class="intro-text-wrapper">
            <img src="~/images/sq.png" width="100%" />
            <section class="intro-text">
                <h2 class="intro-title">
                    Want to learn and don't know how and where?
                </h2>
                <p class="intro-info">
                    Welcome to <span class="learn-it">Learn It</span>. It is new learning web community, where you can learn together with your friends. Here you will find all kinds of courses for basically everything on the web. Come and join our big family and start learning now!
                </p>
            </section>
        </article>
    </section>
</section>
<!--<img src="~/images/svg/line-background.svg" alt="Logo - Background" />-->